.container {
  color: var(--blue20);
  background-color: --var(--black50);
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
}

.title {
  color: var(--white10);
  font-weight: 700;
  font-size: 2rem;
}

.cardWrapper {
  display: flex;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem /* 24px */;
  margin-right: 0.75rem /* 12px */;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrap {
  flex-wrap: wrap;
}

.mb3 {
  margin-bottom: 3rem /* 48px */;
}

.mb2 {
  margin-bottom: 2rem /* 32px */;
}

.cardImg:hover {
  z-index: 50;
}

@media (min-width: 768px) {
  .container {
    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
  }
}
