html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--black40);
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

a {
  color: inherit;
  text-decoration: none;
  outline: 0px;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
ul,
li {
  margin: 0;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

button {
  background-image: none;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  text-transform: none;
  margin: 0;
  border: 0px;
  outline: 0px;
}

:root {
  --black: rgb(0, 0, 0);
  --black10: #181818;
  --black20: rgba(0, 0, 0, 0.6);
  --black30: rgb(17, 24, 39);
  --black40: #141414;
  --black50: rgb(20, 20, 20);

  --gray10: rgb(119, 119, 119);
  --gray20: rgb(156, 163, 175);
  --gray40: rgba(42, 42, 42, 0.6);

  --white10: rgba(255, 255, 255, 1);
  --white20: rgba(243, 244, 246, 1);
  --white30: rgb(209, 213, 219);

  --green10: rgba(110, 231, 183, 1);
  --shadow10: rgba(0, 0, 0, 0.3);
  --shadow20: rgba(158, 155, 155, 0.3);
  --shadow30: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --red: rgb(220, 38, 38);
  --red10: rgba(185, 28, 28, 1);

  --blue: rgba(75, 85, 99, 1);
  --blue20: rgb(55, 65, 81);
}
