.modal {
  position: absolute;
  /** centers modal **/
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 800px;
  bottom: 40px;
  background-color: var(--black40);
  top: 10%;

  outline: none;
  border-radius: 10px;
  border: 1px solid var(--shadow10);
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

/** gives box shadow to the video frame **/
.borderBoxShadow {
  -webkit-box-shadow: 0 3px 7px var(--shadow20);
  -moz-box-shadow: 0 3px 7px var(--shadow20);
  box-shadow: 0 3px 7px var(--shadow20);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  opacity: 1;
  background: linear-gradient(to top, var(--black10), transparent 50%);
}

/** Makes video edges curvy **/
.videoPlayer {
  border-radius: 10px 10px 0px 0px;
  composes: borderBoxShadow;
}
