.modal {
  position: absolute;
  /** centers modal **/
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 800px;
  bottom: 40px;
  background-color: var(--black40);
  top: 10%;

  outline: none;
  border-radius: 10px;
  border: 1px solid var(--shadow10);
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
